<?xml version="1.0" encoding="UTF-8"?>
<hqconfig name="HQConfiguration" class="com.hqsolution.hqserver.util.HQConfiguration" logger="Q2">
	<property name="dbtype" value="mysql" />	
	<!-- Start configure for timing log -->
	<property name="timming-log" value="log.TIMMING" />
	<!-- End configure for timing log -->
</hqconfig>